/* start global */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --orange: #ffa500;
    /* --light: #777;
    --dark: #444;
    --bg-col: #e6e6e6;
    --border: 0.1rem solid rgb(0 0 0 / 20%);
    --box-shad: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
    --box-shad-inset: 0.4rem 0.4rem 1rem #ccc inset, -0.4rem -0.4rem 1rem #fff inset; */
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.2s linear;
    font-family: 'Nunito', sans-serif;
}
html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    color: white;
}
header, section, footer{
    padding: 2rem 9%;
}
*::selection{
    color: white;
    background-color: var(--orange);
}
.head{
    font-size: 3.5rem;
    color: var(--orange);
    padding: 2.5rem 0;
    text-align: center;
    text-transform: uppercase;
}
.head span{
    padding: 0.2rem 1rem;
    background-color: rgb(255, 165, 0, 0.2);
    border-radius: 0.5rem;
}
.head .space{
    background: none;
}
.but{
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    background-color: var(--orange);
    padding: 0.8rem 3rem;
    margin-top: 1rem;
    border: 0.2rem solid var(--orange);
    cursor: pointer;
}
.but:hover{
    color: var(--orange);
    background-color: rgb(255, 165, 0, 0.2)
}
/* end global */
/* start header */
header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    z-index: 4;
}
header #menu-but{
    display: none;
    font-size: 3rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid white;
    cursor: pointer;
}
header .logo{
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}
header span{
    color: var(--orange);
}
header nav{
    padding-top: 1rem;
}
header nav a{
    color: white;
    font-size: 2rem;
    margin: 0 0.8rem;
}
header nav a:hover, header .icons i:hover, header label:hover{
    color: var(--orange);
}
header .icons i{
    font-size: 2.5rem;
    margin-right: 2rem;
    cursor: pointer;
}
header form{
    position: absolute;
    display: flex;
    top: 100%;
    left: 0;
    right: 0;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #333;
    border-top: 0.1rem solid rgb(255, 255, 255, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 6;
}
header form.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header #search-bar{
    color: #333;
    font-size: 1.7rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
}
header label{
    font-size: 3rem;
    margin-left: 1.5rem;
    cursor: pointer;
}
/* end header */
/* start login form */
.login-form{
    position: fixed;
    display: flex;
    top: -120%;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    transition: 0.4s;
    z-index: 8;
}
.login-form.active{
    top: 0;
}
.login-form #close-form{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    cursor: pointer;
}
.login-form form{
    width: 50rem;
    background-color: white;
    padding: 1.5rem 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
}
.login-form h3{
    color: #444;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.login-form .box{
    color: #333;
    font-size: 1.7rem;
    width: 100%;
    padding: 1rem;
    margin: 0.6rem 0;
    border: 0.1rem solid rgb(0, 0, 0, 0.2);
}
.login-form .box:focus{
    border-color: var(--orange);
}
.login-form .but{
    display: block;
    width: 100%;
}
.login-form #remember{
    margin: 2rem 0;
}
.login-form label{
    color: #444;
    font-size: 1.5rem;
}
.login-form p{
    font-size: 1.5rem;
    color: #666;
    padding: 0.5rem 0;
}
.login-form a{
    color: var(--orange);
}
.login-form a:hover{
    color: #333;
    text-decoration: underline;
}
/* end login form */
/* start home */
#home{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
#home h3{
    font-size: 4.5rem;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem rgb(0, 0, 0, 0.1);
}
#home p{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}
#home .control{
    position: relative;
    top: 10rem;
    padding: 0.8rem;
    border-radius: 5rem;
    background-color: rgb(0, 0, 0, 0.6);
}
#home span{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 0.6rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
#home .active{
    background-color: var(--orange);
}
#home video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* end home */
/* start gallery */
#gallery .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
#gallery .box{
    position: relative;
    flex: 1 1 30rem;
    height: 25rem;
    border: 1rem solid white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.1);
    transition: 0.4s;
}
#gallery .box:hover .content{
    top: 0;
}
#gallery .box:hover{
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.1);
}
#gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#gallery .content{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: center;
    padding: 5rem 2rem 2rem;
}
#gallery h3{
    color: var(--orange);
    font-size: 2.5rem;
}
#gallery p{
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
/* end gallery */
/* start services */
#services .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
#services .box{
    flex: 1 1 30rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}
#services .box:hover{
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.1);
}
#services i{
    color: var(--orange);
    font-size: 5rem;
    padding: 1rem;
}
#services h3{
    color: #333;
    font-size: 2.5rem;
}
#services p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
/* end services */
/* start book */
#book .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
#book .image{
    flex: 1 1 40rem;
}
#book img{
    width: 100%;
}
#book form{
    flex: 1 1 40rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.1);
}
#book .box{
    padding: 0.5rem 0;
}
#book h3{
    color: #666;
    font-size: 2rem;
    padding: 1rem 0;
}
#book .box input{
    color: #333;
    font-size: 1.7rem;
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid rgb(0, 0, 0, 0.1);
}
/* end book */
/* start packages */
#packages .container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
#packages .box{
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.1);
}
#packages img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}
#packages .content{
    padding: 2rem;
}
#packages h3{
    font-size: 2rem;
    color: #333;
}
#packages h3 i{
    color: var(--orange);
}
#packages p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}
#packages .stars i{
    font-size: 1.7rem;
    color: var(--orange);
}
#packages .price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}
#packages .price span{
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through;
}
/* end packages */
/* start reviews */
#reviews .review-slider{
    padding-bottom: 2rem;
}
#reviews .box{
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.1);
}
#reviews img{
    width: 13rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: cover;
}
#reviews h3{
    color: #333;
    font-size: 2.5rem;
}
#reviews p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
#reviews i{
    color: var(--orange);
    font-size: 1.7rem;
}
/* end reviews */
/* start contact */
#contact .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
#contact .image{
    flex: 1 1 35rem;
}
#contact img{
    width: 100%;
}
#contact form{
    flex: 1 1 50rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.1);
}
#contact .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    border-radius: 0.5rem;
    box-shadow: var(--box-shad);
}
#contact input, #contact textarea{
    color: #333;
    font-size: 1.7rem;
    width: 49%;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #f7f7f7;
}
#contact textarea{
    width: 100%;
    height: 15rem;
    resize: none;
}
/* end contact */
.brand-container{
    text-align: center;
}
.brand-container .swiper-slide{
    width: 10rem;
    height: 10rem;
}
.brand-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* start footer */
footer{
    background-color: #333;
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
footer .box{
    flex: 1 1 25rem;
    padding: 1rem 0;
}
footer h3{
    font-size: 2.5rem;
    padding: 0.7rem 0;
}
footer p{
    color: #eee;
    font-size: 1.5rem;
    padding: 0.7rem 0;
}
footer a{
    display: block;
    color: #eee;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    transition: 0.4s;
}
footer a:hover{
    color: var(--orange);
    text-decoration: underline;
}
footer .develop{
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    border-top: 0.1rem solid rgb(255, 255, 255, 0.2);
}
footer span{
    color: var(--orange);
}
/* end footer */
/* start media queries */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    header, section, footer{
        padding: 2rem;
    }
}
@media (max-width: 768px) {
    header #menu-but{
        display: initial;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgb(255, 255, 255, 0.2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header nav a{
        display: block;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background-color: #222;
        border-radius: 0.5rem;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .head{
        font-size: 2.5rem;
    }
    #contact input{
        width: 100%;
    }
}
/* end media queries */